body{
    cursor:all-scroll;
    margin: 0;
    margin-top: 0;
    position: relative;
    margin-right: 0%;
    background-color: aliceblue;
    
}

#header{
    position: relative;
    margin-top: 0%;
    background-color:azure;
    margin-left: auto;
    margin-right: auto;    
    width: 100%;
    padding-top: 100px;
}

.tclouds{
    display:flex;
    cursor:crosshair;
    right: 15%;
    position: absolute;
    top: 60px;;
    
}
h1{
    position: relative;
    text-align: center;
    font-weight:bolder ;
    margin: auto;
    width: 100%;
    font-size: 150px;
    font-family:'Allison', cursive;

}
h3{

    margin: auto;
    text-align: center;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif italic;
    font-style: italic;
    font-size: 80px ;
    position: relative;
   
}

.mountain{
   display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor:crosshair;
}
.bclouds{
    position:relative;
    display: flex;
    cursor:crosshair;
    margin-left:5%;
    margin-right: auto;
}
#intro{
    width: 50%;
    margin: 20% auto;
    border-top: 5px solid #1C6EA4;
    border-radius: 15%;
    border-bottom: 10px solid #1C6EA4;
    cursor:auto;
   
}

.about{
   
    width: 100%;
    text-decoration:dashed underline;
    text-align: center;
    color: rgb(92, 233, 92);
    font-size:80px;
    

}

.img1 {
    width: 30%;
    top: 0%;
    float: left;
    height: 270px;
    position: relative;
    border-radius: 50%;
    border-color: white;
}
.write{
    padding:35%;
    padding-top: 0%;
    padding-bottom: 10%;
    width: 60%;
    margin: auto;
    text-align:left;
    font-size: 34px;
    
    
}
#intro a{
    cursor:help;
    color:darkgoldenrod;
    text-decoration: none;
    font-style: italic;
}
#intro a:hover{
    text-decoration: cadetblue underline;
    
}

#skills{
    width: 50%;
    margin: auto;
    border-radius:5%;
    border-bottom: 15px solid #1C6EA4;
    cursor:auto;
    position: relative;
}
h2{
    width: 100%;
    text-decoration:dashed underline;
    text-align: center;
    color: rgb(92, 233, 92);
    font-size:80px;

}
.skill1{
    width: 80%;
    font-size:40px;
    position: relative;
    text-align: left;
    
}
.img2{
    padding: 5%;
    width: 20%;
    top: 0%;
    text-align: right;
    float: right;
    height: 100px;
    position: relative;
    
}

#footer{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    background-color: aqua;
}
